* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .Logo {
    font-size: 2em;
    color: #fff;
    pointer-events: none;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
  }
  
  .navigation a:hover,
  .navigation a.active {
    background: #359381;
    color: #f1da07;
  }
  
  .GoodMorning {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  #Text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  }
  
  .GoodMorning img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
.GoodMorning h1{
  font-size: 50px;
  font-weight: 600;
  color: #e00808;
  z-index: 99;

}
  
  .sec {
    position: relative;
    background: #003329;
    padding: 100px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .sec h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .sec p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #359381;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2c7e66;
  }
  
  
 
  